<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orcstand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcstand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{40,0},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcstand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{80,0},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcstand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{120,0},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orcstand5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{160,0},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>orcstand.png</string>
            <key>size</key>
            <string>{200,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc6ed9bdc4ccdba988fac2519c915afc:59c81b0c9947f34a97ebd71e18ee71ae:bdd7765c7fbc91297dddfeeeda39797b$</string>
            <key>textureFileName</key>
            <string>orcstand.png</string>
        </dict>
    </dict>
</plist>
